/.idea/
/.gradle/
/buildSrc/.gradle/
/buildSrc/build/
/app/.gradle/
/app/build/
/feature_album/build/
/feature_album/.gradle/
/feature_favourite/build/
/feature_favourite/.gradle/
/feature_profile/build/
/feature_profile/.gradle/
/feature_reader/build/
/feature_reader/.gradle/
/library_base/build/
/library_base/.gradle/
/library_test_utils/build/
/library_test_utils/.gradle/
/library_base/schemas/
/app/schemas/
